body{
    font-family: sans-serif;
    background-color: grey;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 5rem;
}

#todos{
    width: 400px;
}

.todotextarea{
    border: 2px solid blue;
    border-radius: 1rem;
}

i{
    cursor: pointer;
}

#todos div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options{
    display: flex;
    gap: 25px;
}

#msg{
    color: red;
}

.submit{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: blue;
}
